@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

/* Global Declarations */
* {
    box-sizing: border-box;
}
body { 
   
    margin: 0; 
    padding: 0; 
    font-family:'Titillium Web', sans-serif;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}
.container {
    max-width: 1130px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    margin: 0 auto;
}
input[name="menu_trigger"] {
    display: none !important;
}
.menuTrigger {
    display: none;
}
.clearfix:before, .clearfix:after {
    width: 100%;
    display: table;
    content: '';
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Titillium Web', sans-serif;
    font-weight: 700;
    color: #ffffff;
    margin: 0;
}
h1{
    font-size: 42px;
    line-height: 49px;
    color: #f7f3ea;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
h2{
    font-size: 40px;
    letter-spacing: 4px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
}
h3{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 700;
    font-family:'Titillium Web', sans-serif;
    text-align: center;
}
p{
    font-size: 19px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Titillium Web";
    text-align: center;
}
a{
    display: inline-block;
}

.logo{
    width: 25%;
padding-left: 42px;
padding-top: 57px;
float: left;
}
.header{
    background-color: #87509c;
}
.navigationpart {
    width: 74.7%;
    /* float: right; */
    
    /* overflow: hidden; */
    padding-top: 0px;
    margin-top: 60px;
    text-align:right;
    display: inline-block;

  }
  .navigationpart ul{
      padding: 0;
      margin: 0;
  }
  .navigationpart ul li{
    list-style: none;
    display: inline-block;
}
  .navigationpart a {
      text-align: right;
      /* display: inline-block; */
      
  }
  .navigationpart a { 
   display:inline-block; 
      border-radius: 4px;
      
       
    }
    .navigationpart  a{
        color:#ffffff;
        text-transform: uppercase;
        padding: 7px 7px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 600;
        font-family: "Titillium Web";
        text-decoration: none;    
        margin: 0px 13.5px;
        position: relative;
  /* animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer; */
    }
    /* .navigationpart  a:hover {
        animation-name: shakeAnim;
      }
      
      @keyframes shakeAnim {
        0% {left: 0}
        1% {left: -3px}
        2% {left: 5px}
        3% {left: -8px}
        4% {left: 8px}
        5% {left: -5px}
        6% {left: 3px}
        7% {left: 0}
      }
      
      @keyframes shake {
        0% {left: 0}
        1% {left: -3px}
        2% {left: 5px}
        3% {left: -8px}
        4% {left: 8px}
        5% {left: -5px}
        6% {left: 3px}
        7% {left: 0}
      } */

    
    .navigationpart a:hover{
        background-color: #643a79;
        
        transition: 0.7s;
    }
    /* .active{
        background-color: #643a79;
    } */
    /* banner section */

.banner-section {
    text-align: center;
    background-color: #87509c;
    color:#ffffff;
    font-size: 24px;
    padding-top: 136px;
    padding-bottom: 147px;
}
.banner-section h1 {
    color:#ffffff;
    width: 79.64%;
    margin: 0 auto;
  
}
.banner-section .button {
    padding-top: 20px;
}
/* button animation for knowleag */
.button a {
    font-size: 18px;
    font-weight: 600;
    padding-top: 20px;
    margin-top: 10px;
        padding-right: 80px;
    padding-left: 80px;
   
    padding-bottom: 20px;
    background-color: #eb7d4b;
    color:#ffffff;
    display: inline-block;
    border-radius:3px;
    border-bottom:2px solid #c86a40;
    text-decoration: none;
    /* position: relative;
  animation-name: shake;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer; */
}
/* .button a:hover {
    animation-name: shakeAnim;
  }
  
  @keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }
  
  @keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  } */
  /* end of button animation */
/*  service section 3 start */

.three-col-section{
    background-color: #17c2a4;
    padding-bottom: 131px;

}
.sectionh1 p{
    font-size: 42px;
line-height: 49px;
color: #f7f3ea;
font-weight: 700;
font-family: "Titillium Web";
text-align: center;
/* margin-bottom: 32px; */
margin-top: 0px;
padding-bottom: 11px;
margin-bottom: 12px;
}
.services{
    padding-top: 120.91px;
    padding-bottom: 17px;
}

    /* display: block;
    text-align: center;
    margin: 0 auto;
  width: 10%; 
  padding-bottom: 8px; */

.spanimg{
    background-color: #14a58c;
    width: 87px;
    height: 5.5px;
    margin: 0 auto;
    width: 8%;

}
.p1{
    width: 55%;
    margin: 0 auto;
    padding-bottom: 56px;
    margin-top: 8px;
    
    /* padding-top: 11px; */
}
/* main-four-col */
.main-four-col{
    float: left;
    width: 100%;
}
.four-col{
    float: left;

    width: 25%;
}
.imagediv img{
    margin: 0 auto;
}
.h2 h3{
    padding-top: 51px;
    padding-right: 8px;
    padding-bottom: 6px;
    text-transform: uppercase;
}
.para p{
    max-width: 204px;
    margin: 0 auto;
    /* margin-bottom: 131px;
    margin-top: 12px; */
    font-size: 17px;
}
/* main four circle div */
.main-team{
    background-color: #e7f1f8;
}

.team h2{
    color: #3c4761;
    padding-top: 115px;
    padding-bottom: 22px;
}
.spanimg2{
    background-color: #c8d9e5;
    width: 87px;
    height: 0px;
    margin: 0 auto;
    width: 10%;
}
.team-p1 p{
    color: #3c4761;
    margin-top: 23px;
    padding-bottom: 58px;
}

.hh2 h3{
    color:#27283d;
    padding-top: 39px;

}
.hh2 p{
    padding-top: 12px;
    padding-bottom: 10px;
    margin: 0 auto;
    color: #52c4ea;
}
.para1 p{
    color: #515b74;
    max-width: 228px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 28px;
  
}
.main-four-circle{
    width: 100%;
    float: left;
    margin-bottom: 127px;
}
.four-circle{
    float: left;
    width: 25%;
}
.socialmedia{
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.socialmedia div{
    display: inline-block;
    padding: 0 4px;
    margin-right: -4px;
}
.socialmedia1{
    max-width: 170px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.socialmedia1 div{
    display: inline-block;
    padding: 0 4px;
    margin-right: -4px
}
/* percent col */
.skills-section{
    background-color: #ffffff;
}
.main-four-circle-percent{
    width: 100%;
    float: left;
    margin-bottom: 127px;
}
.four-circle-percent{

    margin-bottom: 6px;
    margin-top: 7px;
    /* margin-right: -22px; */
    padding-left: 4px;
}
.four-circle-percent .imagediv2{
    float: left;
    width: 25%;
    padding: 0px 43px;
    text-align: center;
}
/* form is starting */
.section-form{
    background-color: #3c5499;
}
.team11 h2{
    color: #ffffff;
    padding-top: 102px;
    padding-bottom: 23px;
}
.spanimg22{
    background-color: #273a71;
    width: 87px;
    height: 4px;
    margin: 0 auto;
    width: 10%;
}
.team-p12 p{
    color: #ffffff ;
    
    margin-top: 17px;
    padding-bottom: 50px;
    
}
.main-formbox{
    max-width: 870px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.tex-ema{
    margin: 0 auto;
    text-align: center;
}
input[type="text"],input[type="email"], select, textarea {
    max-width: 860px;
    width: 100%;
    padding: 12px;
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Titillium Web";
    background-color: #273a71;
    border: 1px solid #273a71;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;

    margin-bottom: 54px;
    resize: vertical;

    }
.textdiv,.emaildiv{
    width: 50%;
    float: left;
}
#fname{
    max-width: 416px;
    height: 56px;
    font-size: 18px;
line-height: 18px;
color: #ffffff;
font-weight: 400;
    /* float: left; */
    /* margin-right: 18px;
margin-left: 134px; */
margin-bottom: 20px;
}

#lname{
    max-width: 416px;
    font-size: 18px;
line-height: 18px;
color: #ffffff;
font-weight: 500;
    height: 56px;
    /* margin-left: 18px; */
    margin-bottom: 20px;
    /* float:right; */
}
#subject{
    /* margin-left: 130px; */
    font-size: 18px;
line-height: 18px;
color: #ffffff;
font-weight: 400;
}
input[type=button]{
    margin-bottom: 122px;
    font-size: 24px;
    font-weight: 600;
    line-height: 26.19px;
    padding: 20px 80px;
    cursor: pointer;
    color: #fff;
    background-color: #30bae7;
    border: none;
    border-radius: 7px;
    box-shadow: 0 3px #299ec5;
    text-decoration: none;
}



/* .Send-Massage:hover {
    animation-name: shakeAnim;
  }
  
  @keyframes shakeAnim {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  }
  
  @keyframes shake {
    0% {left: 0}
    1% {left: -3px}
    2% {left: 5px}
    3% {left: -8px}
    4% {left: 8px}
    5% {left: -5px}
    6% {left: 3px}
    7% {left: 0}
  } */
  .SubmitButton{
      text-align: center;
      margin: 0 auto;
  }
  /* footer section start */
  footer{
      background-color: #344b8e;
      padding-top: 53px;
      padding-bottom: 47px;

}
.ulli{
    float:right;

    width: 91%;
}
.ulli a{
    
    display: inline-block;
    margin-right: -4px;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 600;
    font-family: "Titillium Web";
    padding-right: 56px;

}



#Twitter{
    color: #3286bd;
}

.four-circle-percent{

    margin-bottom: 6px;
}
input::placeholder,textarea::placeholder{
    font-size: 18px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
}
.ulli a:hover{
    color: #3286bd;
}

/* resposive start */
@media (max-width:1200px){
    .container{
        max-width: 992px;
    }
    .para1 p {
        padding: 0px;
    max-width: 243px;
    margin: 0 auto;
    margin-bottom: 28px;}
    .ulli a{
        padding-right: 40px;
    }
}
@media (max-width:1024px){
     .container{
         max-width: 900px;
     }
     .sectionh1 p {
        font-size: 37px;
        line-height: 47px;}
    .button a{
        padding: 18px 60px;
        font-size: 19px;
    }
    h2{
        font-size: 38px;
    }
    h3{
        font-size: 25px;
    }
    p{
        font-size: 18px;
    }
    .four-col {
        width: 50%;
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }
    .para p {
       max-width: 208px;
        margin-bottom: 45px;}
    .para1 p {
     max-width: 349px;    }
    .para1{
        padding-bottom: 10px;
    }
    .main-four-col {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
    }
    .four-circle{
        width: 50%;
        padding-bottom: 15px;
    }  
    .four-circle-percent {
        margin-bottom: 6px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    } 
    .four-circle-percent .imagediv2 {
        padding: 25px 0  ;
        width: 35%;
        float: none;
        display: inline-block;
        vertical-align: top;
        margin-right: -4px;
    }

        .four-circle-percent .imagediv2 img{
            margin: 0 auto;
            text-align: center;
        }
    .main-formbox{
        max-width: 755px;
    }
    .textdiv, .emaildiv {
        width: 100%;
    }
    #fname,#lname{
        max-width: 100%;
       margin-bottom: 3px;
    }
    input[type=button] {
        margin-bottom: 62px;
        font-size: 20px;
        padding: 18px 45px}
    .ulli a{
       font-size: 21px;
        }
}
@media (max-width:992px){
    .container{
        max-width: 700px;
    }
    .logo {
        width: 20%;}
    .navigationpart a{
     margin: 0 8px;

    }
    .h2 h3 {
        padding-top: 20px;
    }
    .imagediv img {
        margin: 0 auto;
        max-width: 120px;
        width: 100%;
    }
    .navigationpart{
        width: 80%;
    }
    .sectionh1 p {
        font-size: 31px;
        }
    .button a {
            padding: 15px 40px;
            font-size: 17px;
        }
    h2 {
            font-size: 35px;
        }
    h3 {
        font-size: 22px;}
        .hh2 h3 {
            color: #27283d;
            padding-top: 15px;
        }
        .para1 {
            padding-bottom: 0px;
        }
    .four-col {
            float: none;
            width: 50%;
            display: inline-block;
            vertical-align: top;
            margin-right: -4px;
        }
        .para1 p {
            max-width: 280px;
        }
    .para p {
        font-size: 17px;
        max-width: 208px;
    }
    .p1 {
        width: 70%;}
        p {
            font-size: 18px;
        }
    .team-p1 p{
        padding-bottom: 35px;}
    
    .main-four-circle {
            margin: 0 auto;
            float: none;
            text-align: center;
        }
         .four-circle {
            float: none;
            display: inline-block;
            vertical-align: top;
            margin-right: -4px;
            width: 50%;
        }
        .ulli a{
           font-size: 19px;  
           padding-right: 21px;
        }
        input[type=button] {
            margin-bottom: 62px;
            font-size: 18px;
            padding: 14px 33px;
        }
}
@media (max-width:768px){
    .container{
        max-width: 680px;
    }
    .navigationpart a{
        font-size: 13px;
        margin: 0 4px;
    }
    .banner-section {
        padding-top: 108px;
        padding-bottom: 115px;
    }
    .sectionh1 p {
        font-size: 27px;
        line-height: 38px;
    }
    .services {
        padding-top: 100.91px;
    }
    .h2 h3 {
        padding-top: 25px;
    }
    .button a {
        
        font-size: 14px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    p {
        font-size: 15px;
    }
    .p1 p{
        font-size: 16px;
    }
    .four-col {
        width: 100%;
    }
    .para p {
        font-size: 16px;
        max-width: 202px;
    }
    .team h2 {
        padding-bottom: 5px;
        padding-top: 86px;
    }
    .four-circle {
        width: 100%;
    }
    .hh2 h3 {
        padding-top: 22px;
        font-size: 27px;
    }
    .hh2 p {
        font-size: 16px;
    }
    .para1 p {
        max-width: 335px;
    }
    .team-p1 p {
        padding-bottom: 5px;
    }
    .main-four-circle-percent {
        margin-bottom: 33px;
    }
    .team11 h2 {
        padding-top: 49px;
        padding-bottom: 18px;
    }
    input[type=button] {

        font-size: 17px;
        padding: 15px 32px;
    }
    .team-p12 p {
        padding-bottom: 20px;
    }
    .ulli a {
        font-size: 17px;
    }
}
@media (max-width:767px){
    .container{
        width:100%
    }
    .header {
        margin-bottom: -2px;
    }
    .ulli {
        /* float: right; */
        width: 100%;
        text-align: center;
    }
    .logo {
        width: 20%;
        padding-left: 0px;
        padding-top: 25px;
        float: left;
    }
    h2 {
        font-size: 28px;
    }
    h3 {
        font-size: 22px;
    }
    p {
        font-size: 14px;
    }
    .navigationpart{
        display: none;
    }
    .sectionh1 p {
        font-size: 30px;
        line-height: 38px;
    }
    .button a {
        padding: 12px 35px;
        font-size: 15px;
    }
    .banner-section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .services {
        padding-top: 50.91px;
    }
    .three-col-section {
        padding-bottom: 50px;
    }
    .team h2 {

        padding-top: 50px;
    }
    .four-circle-percent .imagediv2 img {
        max-width: 100px 
    }
    .p1{
        padding-bottom: 7px;
    }
    .p1 p {
        font-size: 14px;
    }
    .para p {
        font-size: 14px;
        max-width: 259px;  
    }
    .h2 h3 {
        padding-top: 14px;
    } .socialmedia img,.socialmedia1 img{
        max-width: 27px;
        width: 100%;
    }
    .hh2 h3 {
        padding-top: 22px;
        font-size: 24px;
    }
    input[type=button] {
        font-size: 14px;
        padding: 10px 25px;
    }
    .ulli a {
        font-size: 14px;
        padding-right: 10px;
    }
    input::placeholder, textarea::placeholder{
        font-size: 14px;
    }
    #subject{
        height: 130px;
    }
    input[name="menu_trigger"] {
        display: block;
    }
    label.menuTrigger {
        float: right;
        font-size: 28px;
        position: relative;
        top: 25px;
        font-weight: 700;
        text-transform: uppercase;
        color: #fff !important;
        display: block;
    }
    .navigationpart{
        display: block;
        width: 250px;
        height: 100%;
        position: fixed;
       left: 0;
       top: 0;
       margin-top: 80px;
        text-align: end;
        border: 3px solid rgb(82, 85, 233);
        border-radius: 10px;
        transform: translate(-100%, 0%);
        transition: all ease 0.8s ;
        /* background-color: black; */
        background-image: url("../assets/images/download.jpeg");
        background-size: cover;
        background-position: center;
    }
   
    [name="menu_trigger"]:checked + .container .navigationpart {
        transform: translate(0, 0);
        /* display: block; */
    }
    .navigationpart ul li{
        display: block;
    }
    .navigationpart a{
        padding: 8px;
        margin: 7px 0;
            font-size: 17px;
            text-align: center;
            border-bottom: 3px solid rgb(106, 11, 184);
            border-left: 2px solid rgb(14, 191, 197);
            border-right: 2px solid rgb(14, 191, 197);
            border-radius: 20px;
            display: block;
            
    }

}
@media (max-width:479px){
    .container{
        width:100%
    }
    .sectionh1 p {
        font-size: 27px;
        line-height: 38px;
    }
    .button a {
        padding: 12px 24px;
        font-size: 14px;
    }
    h2{
        font-size: 24px;
    }
    h3 {
        font-size: 21px;
    }
    p{
        font-size: 13px;
    }
    .p1 {
        width: 100%;
    }
    .imagediv img {
        
        max-width: 110px;
    }
    .para p {
        font-size: 14px;
        max-width: 100%;
    }
    .team-p1 p {
        padding-bottom: 0px;
        margin-top: 8px;
    }
    .hh2 h3 {
        padding-top: 15px;
        font-size: 22px;
    }
    input[type=button] {
        font-size: 13px;
        padding: 10px 20px;
    }
    .ulli {
        float: none;
        width: 100%;
        text-align: center;
    }
    .ulli a {
        padding-right: 21px;
    }
    
}
